.navbar{
	box-shadow: 2px 2px 5px #3292a6;
	background: #fff;
	opacity: 0.9;
}

.button{
	box-shadow: none !important;
	
}

#showcase {
	background: url(https://images.unsplash.com/photo-1473654729523-203e25dfda10?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
	position: relative;
	background-size: cover;
	background-position: center;
	height: 600px;
	
}

.primary-overlay {
	background: rgba(50, 146, 166, 0.6);
	position: absolute;
	height: 800px;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.showcase-image{
	margin-left: 200px;
	margin-top: 120px;
}

.lead{
	font-size: 1.1rem;
}

.info-header{
	width: 50%;
	margin:auto;
	border-bottom: 1px solid #ddd;
}

/*#accordion .card{
	margin-left: 10%;
	width: 80%;
}*/